@font-face {
    font-family: 'Conv_CRC35';
    src: url('/fonts/CRC35.eot');
    src: local('☺'), url('/fonts/CRC35.woff') format('woff'), url('/fonts/CRC35.ttf') format('truetype'), url('/fonts/CRC35.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
html,
body {
    font-family: 'Conv_CRC35';
    font-size: 16px;
    height: 100%;
}
.navbar-brand, .navbar-brand:hover{
    color: #222;
    font-family: serif;
    font-size: 38px;
    padding: 15px 10px;
}
.navbar-nav > li > a {
    color: #222;
    padding-top: 21px;
    padding-bottom: 15px;
}
.color,.number,.size{
    margin-top: 40px;
}
#send_to_cart{
    margin-top: 17px;
    font-weight: bold;
}
p{
    font-size: 16px;
    line-height: 26px;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: underline;
    background-color: transparent;
}
.btn{
    border-radius: 0px;
}
.container{
  max-width: none !important;
  width: 970px;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.t-short-image{
    display: table;
    margin: 0 auto;
}

.wsnowrap{
    white-space: nowrap;
}
.order-row{
    /*margin-left: 75%;*/
}

input[type="radio"][disabled], input[type="checkbox"][disabled], input[type="radio"].disabled, input[type="checkbox"].disabled, fieldset[disabled] input[type="radio"], fieldset[disabled] input[type="checkbox"] {
 cursor: default;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*#error*/
.error{
    background: rgb(255, 139, 133);
    padding: 4px;
    text-align: center;
}
.subrow {
    text-align: center;
    height: 120px;
    margin: 40px 0 20px 0;
}
.subrow_img{
    height: 100%;
    margin: 0 27px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.image_big{
    /*width: 100%;*/
    max-height: 600px;
    max-width: 523px;
}


#cart-radius{
    display: inline-block;
    line-height: 0px;
    width: 30px;
    height: 30px;
    margin-top: -5px;
    margin-right: -30px;
}
#cart-img {
    background: url("/images/sprite_box.png") no-repeat left top;
    background-size: cover;
    display: inline-block;
    width: 27px;
    height: 21px;
    /*margin-top: -18px;*/
    margin-left: -8px;
}

#cart-img.full
{
    background-position: left bottom;
}

#cart_count{
    /*margin-left: 6px;*/
    font-weight: bold;
}

.hide_on_not_empty.not_empty{
    display: none;
}



.hide_on_empty.empty{
    display: none !important;
}

.item_nav{
    font-size: 18px;
    font-weight: bold;
    padding: 21px 8px;
}

.col-grey {
    background-color: #d5d5d5;
}
.btn-info-my {
    color: #222;
    background-color: #d5d5d5;
    border-color: #d5d5d5;
    padding: 4px 35px;
}
.btn-info-my-2 {
    color: #222;
    background-color: #d5d5d5;
    border-color: #d5d5d5;
    padding: 4px 87px;
}
.img-left{
    float: left;
    padding-right: 10px;
    width: 25%;
}
.btn-my {
    display: inline-block;

    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    /*border-radius: 4px;*/
}
.btn-my:hover, .btn-my:focus, .btn-my.focus {
    color: #222;
    text-decoration: none;
}
a:hover, a:focus {
    color: #23527c;
    text-decoration: underline;
}
.btn-info-my:hover, .btn-info-my:focus, .btn-info-my.focus, .btn-info-my:active, .btn-info-my.active, .open > .dropdown-toggle.btn-info {
    color: #222;
    background-color: #B5B5B5;
    border-color: #B5B5B5;
}
.btn-info-my-2:hover, .btn-info-my-2:focus, .btn-info-my-2.focus, .btn-info-my-2:active, .btn-info-my-2.active, .open > .dropdown-toggle.btn-info {
    color: #222;
    background-color: #FC7630;
    border-color: #FC7630;
}
textarea,input,select{
   border-radius: 0px!important;
}


#cart-count{
    margin-left: -7px;
}

.btn-left{
    float: left;
}
.font-black{
    color: #222; /* Цвет линии для остальных браузеров */
}
hr {
    border: none; /* Убираем границу для браузера Firefox */
    color: #d5d5d5; /* Цвет линии для остальных браузеров */
    background-color: #d5d5d5; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}
.right-border{
    border-right: 2px solid  #d5d5d5;
    height: 100%;
}
.base-row{
    display: table;
    min-width: 940px;
    margin-top: 3px;
}
.cell-row-1{
    display: table-cell;
    width: 40%;
}
.cell-row-2{
    display: table-cell;
    width: 35%;
    padding-left: 10px;
}
.cell-row-3{
    display: table-cell;
    width: 25%;
    padding-left: 10px;
}
.wrap-checkbox{
    height: 25px;
    width: 25px;
    /*float: left;*/
    display: inline-block;
    margin: 2px;
    border: 1px solid #666;
}

.checkbox, .wrap-checkbox {
    cursor: pointer;
}
.wrap-checkbox.disabled{
    border: 1px solid #ccc;
    background-color: white;
}
.wrap-checkbox.checked{

    background-image: url(/images/checked.png) ;
    background-size: cover;
}
.color-black.wrap-checkbox.checked{
    background-image: url(/images/checked_white.png)!important;
}
.color-blue.wrap-checkbox.checked{
    background-image: url(/images/checked_white.png)!important;
}
#palitra .checkbox{
    opacity: 0;
}

.color-white {background-color: white;}
.color-red {background-color: #cc0033;}
.color-blue {background-color: #003399;}
.color-green {background-color: rgb(0, 185, 0);}
.color-yellow {background-color: #ffcc00;}
.color-gray {background-color: #ccc;}
.color-orange {background-color: #ff6600;}
.color-bordo {background-color: #D70000;}
.color-azure {background-color: #B4FFFF;}
.color-black {background-color: black;}
.color-DarkGreen {background-color: #008701;}
.color-limon {background-color: #ffff00;}
.color-sky {background-color: #33ccff;}

.count-btn{
    border: 1px solid #666;
    width: 26px;
    height: 26px;
    /* margin: 0px; */
    line-height: 27px;
    font-weight: bold;
    font-size: 25px

}
#count{
    font-size: 18px;
    font-weight: bold;
}
.cut-label{
    position: absolute;
    margin-left: 5px;
    width: 27px;
    height: 27px;
    font-size: 17px;
}

.cut-label.poster
{
    width: 100px;
}

.size_row{
}

.size_cell {
    display: inline-block;
    width: 61px;
}

.cut-label.disabled {
    color:#ccc;
}
.count_row{
    /*vertical-align: bottom;*/
    /*border: 1px solid #aaa;*/
    /*width: 27px;*/
    /*height: 27px;*/
    line-height: 25px;
}

#radius-wrap{
    position: absolute;
    /*margin-top: -4px;*/
}

.navigation a:focus{
    text-decoration: none;
    color: #222;
}
.cart_nav{
    text-decoration: none !important;
}

.navigation a{
    color: #222;
}

/*----- Logo -----*/
#main_logo
{
    position: absolute;
    display: block;
    left: -87px;
    top: 0px;
    z-index: 1;
}

.form-horizontal.map
{
    position: relative;
    margin-left: 75px;
    margin-top: 60px;
}

/*----- Basket -----*/
#main_content_basket
{
    position: relative;
    margin-top: 95px;
}

.icon_count_minus
{
    position: relative;
    top: -2px;
}

.number_count_products
{
    position: relative;
    top: 3px;
    width: 33px;
    text-align: center;
    border: none;
}

/*--- Description product ---*/
.description_shirt
{
    position: relative;
    display: block;
    width: 280px;
    margin: 35px 0 0 0;
    font-size: 17px;
}

.description_shirt p
{
    font-size: 17px;
}

.price_shirt
{
    position: relative;
    display: block;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 18px;
}

/*--- Order page ---*/
.title_order_page
{
    position: relative;
    display: block;
    margin: 120px 0 0 0;
}

/*--- Poster page ---*/
#menu_caption_poster
{
    position: relative;
    padding: 21px 33px;
}

.subrow_img.poster
{
    height: 100%;
    margin: 0 11px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.cut.poster
{
    position: relative;
    display: block;
    margin-top: 241px;
}

/*--- Order page ---*/
.order-index,
.order-view,
.order-update
{
    position: relative;
    display: block;
    padding: 100px 0 0 0;
    margin: 0 0 0 -80px;
}

/*---Contact page ---*/
#contact_block
{
    position: relative;
    display: block;
    padding: 100px 0 0 0;
    margin: 0 0 0 -82px;
}

.pull-left.item_nav
{
    margin-left: 17px;
}

.social-likes
{
    position: absolute;
    top: 18px;
    right: 65px;
}

/*----- King's page -----*/
#main_kings_block
{
    position: relative;
    display: block;
    margin: 5px 0 0 0;
}

/*--- The element to apply the animation to ---*/
#dialog_governments
{
    position: relative;
    display: block;
    width: 1246px;
    height: 648px;
    background: transparent url('/images/dialogs/01/sprite.png') no-repeat left top;
}

#list_government
{
    position: relative;
    display: block;
    width: 1070px;
    padding-top: 90px;
    margin: 0 auto;
}

.government
{
    position: relative;
    display: block;
    /*cursor: pointer;*/
    float: left;
    width: 97px;
    height: 180px;
    background: transparent url('/images/king_sprite.png') no-repeat left top;
}

#overlay
{
    position: absolute;
    display: none;
    width: 100%;
    height: 1700px;
    background-color: #ffffff;
    opacity: .7;
    z-index: 1;
}

#page_tzars_all
{
    width: 1200px;
    background-color: #dbdbdb;
}

#logo_page_tzars_all
{
    position: relative;
    left: 150px;
}

#caption_all_government_page
{
    position: relative;
    display: none;
    top: 40px;
    left: 290px;
    font-size: 55px;
    font-weight: bold;
    letter-spacing: 3px;
}

#government_02 {background-position: left -180px;}
#government_03 {background-position: left -360px;}
#government_04 {background-position: left -555px;}
#government_05 {background-position: left -740px;}
#government_06 {background-position: left -917px;width:94px;}
#government_07 {background-position: left -1105px;}
#government_08 {background-position: left -1285px;}
#government_09 {background-position: left -1478px;}
#government_10 {background-position: left -1660px;}
#government_11 {background-position: left -1840px;}
#government_12 {background-position: left -2010px;}
#government_13 {background-position: left -2190px;}
#government_14 {background-position: left -2382px;}
#government_15 {background-position: left -2562px;}
#government_16 {background-position: left -2750px;}
#government_17 {background-position: left -2930px;width:94px;}
#government_18 {background-position: left -3110px;width:94px;}
#government_19 {background-position: left -3298px;}
#government_20 {background-position: left -3486px;}
#government_21 {background-position: left -3670px;}
#government_22 {background-position: left -3850px;}
#government_23 {background-position: left -4030px;}
#government_24 {background-position: left -4214px;width:94px;}
#government_25 {background-position: left -4400px;width: 92px;}
#government_26 {background-position: left -4585px;width: 94px;}
#government_27 {background-position: left -4760px;}
#government_28 {background-position: left -4940px;}
#government_29 {background-position: left -5120px;}
#government_30 {background-position: left -5300px;}
#government_31 {background-position: left -5480px;}
#government_32 {background-position: left -5660px;width:94px;}
#government_33 {background-position: left -5845px;}
#government_34 {background-position: left -6050px;}
#government_35 {background-position: left -6230px;}
#government_36 {background-position: left -6415px;}
#government_37 {background-position: left -6595px;}
#government_38 {background-position: left -6777px;width:94px;}
#government_39 {background-position: left -6960px;}
#government_40 {background-position: left -7145px;}
#government_41 {background-position: left -7325px;}
#government_42 {background-position: left -7508px;}
#government_43 {background-position: left -7695px;}
#government_44 {background-position: left -7878px;}
#government_45 {background-position: left -8050px;}
#government_46 {background-position: left -8250px;}
#government_47 {background-position: left -8428px;}
#government_48 {background-position: left -8615px;}
#government_49 {background-position: left -8797px;}
#government_50 {background-position: left -8975px;}
#government_51 {background-position: left -9155px;}
#government_52 {background-position: left -9340px;}
#government_53 {background-position: left -9525px;}
#government_54 {background-position: left -9698px;}
#government_55 {background-position: left -9888px;}
#government_56 {background-position: left -10067px;}
#government_57 {background-position: left -10255px;}
#government_58 {background-position: left -10430px;}
#government_59 {background-position: left -10616px;}
#government_60 {background-position: left -10800px;}
#government_61 {background-position: left -10986px;}
#government_62 {background-position: left -11174px;}
#government_63 {background-position: left -11356px;}
#government_64 {background-position: left -11547px;}
#government_65 {background-position: left -11727px;}
#government_66 {background-position: left -11905px;}
#government_67 {background-position: left -12080px;}
#government_68 {background-position: left -12268px;}
#government_69 {background-position: left -12450px;}
#government_70 {background-position: left -12620px;}
#government_71 {background-position: left -12800px;}
#government_72 {background-position: left -12991px;}
#government_73 {background-position: left -13178px;}
#government_74 {background-position: left -13359px;}
#government_75 {background-position: left -13549px;}
#government_76 {background-position: left -13734px;}
#government_77 {background-position: left -13917px;}
#government_78 {background-position: left -14100px;width:90px;}
#government_79 {background-position: left -14278px;width:90px;}
#government_80 {background-position: left -14460px;width:90px;}
#government_81 {background-position: left -14650px;width:90px;}
#government_82 {background-position: left -14840px;width:90px;}
#government_83 {background-position: left -15015px;width:90px;}
#government_84 {background-position: left -15210px;width:90px;}
#government_85 {background-position: left -15379px;width:90px;}
#government_86 {background-position: left -15558px;width:80px;}
#government_87 {background-position: left -15760px;width:90px;}
#government_88 {background-position: left -15937px;width:80px;}
#government_89 {background-position: left -16121px;width:90px;}

.bubble
{
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 2;
}

#bubble_01
{
    display: none;
    top: -35px;
    left: 20px;
    width: 388px;
    height: 183px;
    background: transparent url('/images/bubbles/01.png') no-repeat left top;
}

#bubble_02
{
    display: none;
    top: -20px;
    left: 75px;
    width: 388px;
    height: 183px;
    background: transparent url('/images/bubbles/02.png') no-repeat left top;
}

#bubble_03
{
    display: none;
    top: -15px;
    left: 80px;
    width: 388px;
    height: 183px;
    background: transparent url('/images/bubbles/03.png') no-repeat left top;
}

#bubble_04
{
    display: none;
    top: -35px;
    left: 30px;
    width: 388px;
    height: 183px;
    background: transparent url('/images/bubbles/04.png') no-repeat left top;
}

#bubble_05
{
    display: none;
    top: -25px;
    left: 70px;
    width: 486px;
    height: 183px;
    background: transparent url('/images/bubbles/05.png') no-repeat left top;
}

#bubble_06
{
    display: none;
    top: -35px;
    left: 20px;
    width: 388px;
    height: 183px;
    background: transparent url('/images/bubbles/06.png') no-repeat left top;
}

#bubble_07
{
    display: none;
    top: -35px;
    left: -475px;
    width: 486px;
    height: 183px;
    background: transparent url('/images/bubbles/07.png') no-repeat left top;
}

#bubble_08
{
    display: none;
    top: -35px;
    left: 85px;
    width: 388px;
    height: 183px;
    background: transparent url('/images/bubbles/08.png') no-repeat left top;
}

#bubble_09
{
    display: none;
    top: -35px;
    left: -470px;
    width: 486px;
    height: 183px;
    background: transparent url('/images/bubbles/09.png') no-repeat left top;
}

#bubble_10
{
    display: none;
    top: -35px;
    left: -375px;
    width: 389px;
    height: 183px;
    background: transparent url('/images/bubbles/10.png') no-repeat left top;
}

#bubble_11
{
    display: none;
    top: -35px;
    left: -355px;
    width: 389px;
    height: 183px;
    background: transparent url('/images/bubbles/11.png') no-repeat left top;
}

/*--- row ---*/
#bubble_12
{
    display: none;
    top: -15px;
    left: 70px;
    width: 583px;
    height: 184px;
    background: transparent url('/images/bubbles/12.png') no-repeat left top;
}

#bubble_13
{
    display: none;
    top: -20px;
    left: 50px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/13.png') no-repeat left top;
}

#bubble_14
{
    display: none;
    top: -15px;
    left: 70px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/14.png') no-repeat left top;
}

#bubble_15
{
    display: none;
    top: -35px;
    left: 80px;
    width: 485px;
    height: 184px;
    background: transparent url('/images/bubbles/15.png') no-repeat left top;
}

#bubble_16
{
    display: none;
    top: -25px;
    left: 70px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/16.png') no-repeat left top;
}

#bubble_17
{
    display: none;
    top: -35px;
    left: 65px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/17.png') no-repeat left top;
}

#bubble_18
{
    display: none;
    top: -35px;
    left: 50px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/18.png') no-repeat left top;
}

#bubble_19
{
    display: none;
    top: -35px;
    left: 25px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/19.png') no-repeat left top;
}

#bubble_20
{
    display: none;
    top: -35px;
    left: -370px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/20.png') no-repeat left top;
}

#bubble_21
{
    display: none;
    top: -35px;
    left: -470px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/21.png') no-repeat left top;
}

#bubble_22
{
    display: none;
    top: -35px;
    left: -330px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/22.png') no-repeat left top;
}

/*--- row ---*/
#bubble_23
{
    display: none;
    top: -15px;
    left: 44px;
    width: 388px;
    height: 184px;
    background: transparent url('/images/bubbles/23.png') no-repeat left top;
}

#bubble_24
{
    display: none;
    top: -20px;
    left: 50px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/24.png') no-repeat left top;
}

#bubble_25
{
    display: none;
    top: -15px;
    left: 60px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/25.png') no-repeat left top;
}

#bubble_26
{
    display: none;
    top: -35px;
    left: 65px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/26.png') no-repeat left top;
}

#bubble_27
{
    display: none;
    top: -25px;
    left: 70px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/27.png') no-repeat left top;
}

#bubble_28
{
    display: none;
    top: -35px;
    left: 65px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/28.png') no-repeat left top;
}

#bubble_29
{
    display: none;
    top: -35px;
    left: 40px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/29.png') no-repeat left top;
}

#bubble_30
{
    display: none;
    top: -20px;
    left: -465px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/30.png') no-repeat left top;
}

#bubble_31
{
    display: none;
    top: -35px;
    left: -370px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/31.png') no-repeat left top;
}

#bubble_32
{
    display: none;
    top: -35px;
    left: -345px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/32.png') no-repeat left top;
}

#bubble_33 {
    display: none;
    top: -30px;
    left: -365px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/33.png') no-repeat left top;

}
/*--- row ---*/
#bubble_34
{
    display: none;
    top: -15px;
    left: 44px;
    width: 388px;
    height: 184px;
    background: transparent url('/images/bubbles/34.png') no-repeat left top;
}

#bubble_35
{
    display: none;
    top: -30px;
    left: 75px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/35.png') no-repeat left top;
}

#bubble_36
{
    display: none;
    top: -40px;
    left: 45px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/36.png') no-repeat left top;
}

#bubble_37
{
    display: none;
    top: -35px;
    left: 65px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/37.png') no-repeat left top;
}

#bubble_38
{
    display: none;
    top: -25px;
    left: 70px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/38.png') no-repeat left top;
}

#bubble_39
{
    display: none;
    top: -35px;
    left: 45px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/39.png') no-repeat left top;
}

#bubble_40
{
    display: none;
    top: -35px;
    left: -470px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/40.png') no-repeat left top;
}

#bubble_41
{
    display: none;
    top: -20px;
    left: -365px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/41.png') no-repeat left top;
}

#bubble_42
{
    display: none;
    top: -35px;
    left: -355px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/42.png') no-repeat left top;
}

#bubble_43
{
    display: none;
    top: -35px;
    left: -465px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/43.png') no-repeat left top;
}

#bubble_44 {
    display: none;
    top: -30px;
    left: -305px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/44.png') no-repeat left top;

}

/*--- row ---*/
#bubble_45
{
    display: none;
    top: -15px;
    left: 40px;
    width: 388px;
    height: 184px;
    background: transparent url('/images/bubbles/45.png') no-repeat left top;
}

#bubble_46
{
    display: none;
    top: -30px;
    left: 40px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/46.png') no-repeat left top;
}

#bubble_47
{
    display: none;
    top: -40px;
    left: 90px;
    width: 583px;
    height: 184px;
    background: transparent url('/images/bubbles/47.png') no-repeat left top;
}

#bubble_48
{
    display: none;
    top: -35px;
    left: 50px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/48.png') no-repeat left top;
}

#bubble_49
{
    display: none;
    top: -25px;
    left: 70px;
    width: 388px;
    height: 184px;
    background: transparent url('/images/bubbles/49.png') no-repeat left top;
}

#bubble_50
{
    display: none;
    top: -35px;
    left: 75px;
    width: 388px;
    height: 184px;
    background: transparent url('/images/bubbles/50.png') no-repeat left top;
}

#bubble_51
{
    display: none;
    top: -35px;
    left: -470px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/51.png') no-repeat left top;
}

#bubble_52
{
    display: none;
    top: -20px;
    left: -465px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/52.png') no-repeat left top;
}

#bubble_53
{
    display: none;
    top: -35px;
    left: -370px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/53.png') no-repeat left top;
}

#bubble_54
{
    display: none;
    top: -35px;
    left: -370px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/54.png') no-repeat left top;
}

#bubble_55 {
    display: none;
    top: -30px;
    left: -475px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/55.png') no-repeat left top;
}

/*--- row ---*/
#bubble_56
{
    display: none;
    top: -15px;
    left: 40px;
    width: 388px;
    height: 184px;
    background: transparent url('/images/bubbles/56.png') no-repeat left top;
}

#bubble_57
{
    display: none;
    top: -30px;
    left: 60px;
    width: 583px;
    height: 184px;
    background: transparent url('/images/bubbles/57.png') no-repeat left top;
}

#bubble_58
{
    display: none;
    top: -20px;
    left: 80px;
    width: 583px;
    height: 184px;
    background: transparent url('/images/bubbles/58.png') no-repeat left top;
}

#bubble_59
{
    display: none;
    top: -25px;
    left: 85px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/59.png') no-repeat left top;
}

#bubble_60
{
    display: none;
    top: -25px;
    left: -585px;
    width: 583px;
    height: 184px;
    background: transparent url('/images/bubbles/60.png') no-repeat left top;
}

#bubble_61
{
    display: none;
    top: -35px;
    left: 60px;
    width: 388px;
    height: 184px;
    background: transparent url('/images/bubbles/61.png') no-repeat left top;
}

#bubble_62
{
    display: none;
    top: -35px;
    left: -350px;
    width: 388px;
    height: 184px;
    background: transparent url('/images/bubbles/62.png') no-repeat left top;
}

#bubble_63
{
    display: none;
    top: -20px;
    left: -660px;
    width: 679px;
    height: 184px;
    background: transparent url('/images/bubbles/63.png') no-repeat left top;
}

#bubble_64
{
    display: none;
    top: -35px;
    left: -470px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/64.png') no-repeat left top;
}

#bubble_65
{
    display: none;
    top: -35px;
    left: -370px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/65.png') no-repeat left top;
}

#bubble_66
{
    display: none;
    top: -30px;
    left: -665px;
    width: 680px;
    height: 184px;
    background: transparent url('/images/bubbles/66.png') no-repeat left top;
}

/*--- row ---*/
#bubble_67
{
    display: none;
    top: -15px;
    left: 55px;
    width: 388px;
    height: 184px;
    background: transparent url('/images/bubbles/67.png') no-repeat left top;
}

#bubble_68
{
    display: none;
    top: -30px;
    left: 35px;
    width: 389px;
    height: 184px;
    background: transparent url('/images/bubbles/68.png') no-repeat left top;
}

#bubble_69
{
    display: none;
    top: -40px;
    left: 90px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/69.png') no-repeat left top;
}

#bubble_70
{
    display: none;
    top: -35px;
    left: 95px;
    width: 583px;
    height: 184px;
    background: transparent url('/images/bubbles/70.png') no-repeat left top;
}

#bubble_71
{
    display: none;
    top: -25px;
    left: 70px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/71.png') no-repeat left top;
}

#bubble_72
{
    display: none;
    top: -35px;
    left: -680px;
    width: 680px;
    height: 184px;
    background: transparent url('/images/bubbles/72.png') no-repeat left top;
}

#bubble_73
{
    display: none;
    top: -35px;
    left: -470px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/73.png') no-repeat left top;
}

#bubble_74
{
    display: none;
    top: -20px;
    left: -575px;
    width: 583px;
    height: 184px;
    background: transparent url('/images/bubbles/74.png') no-repeat left top;
}

#bubble_75
{
    display: none;
    top: -35px;
    left: -415px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/75.png') no-repeat left top;
}

#bubble_76
{
    display: none;
    top: -35px;
    left: -460px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/76.png') no-repeat left top;
}

#bubble_77
{
    display: none;
    top: -35px;
    left: -460px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/77.png') no-repeat left top;
}


#bubble_78 {
    display: none;
    top: -30px;
    left: 90px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/78.png') no-repeat left top;
}

/*--- row ---*/
#bubble_79
{
    display: none;
    top: -15px;
    left: 80px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/79.png') no-repeat left top;
}

#bubble_80
{
    display: none;
    top: -30px;
    left: 75px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/80.png') no-repeat left top;
}

#bubble_81
{
    display: none;
    top: -40px;
    left: 55px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/81.png') no-repeat left top;
}

#bubble_82
{
    display: none;
    top: -35px;
    left: 65px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/82.png') no-repeat left top;
}

#bubble_83
{
    display: none;
    top: -25px;
    left: 70px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/83.png') no-repeat left top;
}

#bubble_84
{
    display: none;
    top: -35px;
    left: 75px;
    width: 388px;
    height: 184px;
    background: transparent url('/images/bubbles/84.png') no-repeat left top;
}

#bubble_85
{
    display: none;
    top: -35px;
    left: -470px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/85.png') no-repeat left top;
}

#bubble_86
{
    display: none;
    top: -20px;
    left: -415px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/86.png') no-repeat left top;
}

#bubble_87
{
    display: none;
    top: -35px;
    left: -460px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/87.png') no-repeat left top;
}

#bubble_88
{
    display: none;
    top: -35px;
    left: -430px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/88.png') no-repeat left top;
}

#bubble_89
{
    display: none;
    top: -30px;
    left: -450px;
    width: 486px;
    height: 184px;
    background: transparent url('/images/bubbles/89.png') no-repeat left top;
}